.header {
  // background: url('images/header-background.png') center / cover no-repeat
  background-image: url('../images/header-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding: 2.5rem;
  &__content {
    width: 60rem;
    color: #fff;
  }
  &__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 60px;
  }
  &__text {
    display: block;
    font-size: 25px;
  }
  &__link {
    display: inline-block;
  }
}
