.header {
  // background-color: lightblue;
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 95px;

  &__img {
    width: 100%;
    height: auto;
  }
}
