.button {
  padding: 1rem 3.5rem;
  border-radius: 3.5px;
  background-color: $color-primary;
  font-size: 1.5rem;
  font-weight: 500;
  transition: color 0.3s;
  display: inline-block;
  &:hover {
    color: $color-white;
  }
  &:active {
    color: $color-black;
  }

  @media screen and (max-width: 575px) {
    padding: 0.5rem 1.75rem;
    font-size: 14px;
  }
}
