.card-work {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 990px) {
    gap: 30px;
  }

  @media screen and (max-width: 700px) {
    flex-direction: column-reverse;
  }

  &__dot {
    position: absolute;
    left: calc(17% + 2.4px);
    z-index: 10;
    @media screen and (max-width: 990px) {
      display: none;
    }
  }

  &__step {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 990px) {
      flex-direction: column-reverse;
      gap: 20px;
    }
    @media screen and (max-width: 575px) {
      //fff
    }
  }

  &__wrapper {
    margin-right: 120px;
    @media screen and (max-width: 990px) {
      margin-right: 0;
    }
  }

  &__text {
    position: relative;
    & * span {
      background-color: $color-black;
      color: $color-white;
      padding: 7px 30px;
      text-wrap: nowrap;
      font-size: 15px;
      line-height: 25px;
      transition: background-color 0.2s ease-in-out;
    }
    &::before {
      content: '';
      position: absolute;
      left: auto;
      right: 0;
      width: 100%;
      height: 0;
      top: 50%;
      border-top-style: solid;
      border-top-width: 1px;
      border-color: #ccc;
      z-index: -1;
      @media screen and (max-width: 990px) {
        right: -55px;
        width: 215px;
      }
    }
    @media screen and (max-width: 700px) {
      flex-direction: column-reverse;
    }
  }
  &__img {
    position: relative;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    overflow: hidden;

    margin-right: 30px;

    @media screen and (max-width: 990px) {
      margin-right: 0;
      height: 140px;
      width: 140px;
    }

    @media screen and (max-width: 700px) {
      margin-right: 0;
      margin-bottom: 25px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      transition: background-color 0.2s ease-in-out;
    }
  }

  &__title {
    margin-bottom: 15px;
    & > h4 {
      font-size: 17px;
      font-weight: 600;
      line-height: 19px;
      text-transform: uppercase;
    }
  }
  &__description {
    & * span {
      font-size: 15px;
      font-weight: 400;
      line-height: 23px;
    }
    @media screen and (max-width: 575px) {
      margin-bottom: 25px;
    }
  }
  &:hover .card-work__img {
    &::after {
      background-color: rgba(255, 255, 255, 0);
    }
  }
  &:hover .card-work__wrapper > span {
    background-color: $color-primary;
  }
}
