.section-about {
  background-image: linear-gradient(rgba(13, 13, 13, 0.1), rgba(0, 0, 0, 0.4)),
    url('../images/section-about-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // height: 500px;
  padding: 200px 60px 0 60px;

  &__paragraph {
    width: 75%;
  }
}

.section-info {
  background-color: #333;
  padding: 80px 60px;

  color: $color-white;
  &__info-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__text {
    &_small {
      font-size: 16px;
    }
  }
}

.section-products {
  padding: 60px 0;

  .products {
    text-align: center;
    &__title {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 600;
    }
    &__descriprion {
      font-size: 14px;
      line-height: 25px;
    }
  }
}

.section-buisness {
  padding: 60px;
  color: $color-white;
  background-image: linear-gradient(rgba(13, 13, 13, 0.1), rgba(0, 0, 0, 0.4)),
    url('../images/buisness-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    text-align: center;
  }

  &__title {
    margin-bottom: 40px;
    line-height: 35px;
  }
  &__description {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 40px;
  }
}
