.section-about {
  background-image: linear-gradient(rgba(13, 13, 13, 0.1), rgba(0, 0, 0, 0.4)),
    url('../images/section-about-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // height: 500px;
  padding: 200px 60px 0 60px;

  &__paragraph {
    // width: 350px;
    width: 75%;
  }
}

.section-info {
  background-color: #333;
  padding: 80px 60px;

  color: $color-white;
  &__info-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__text {
    &_small {
      font-size: 16px;
    }
  }
}
