// @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Titillium+Web:wght@400;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  // letter-spacing: 0.1rem;
  font-display: swap;
}

.title-secondary {
  font-size: 45px;
  font-weight: 500;
  color: $color-white;
  text-transform: uppercase;
  @media screen and (max-width: 575px) {
    font-size: 25px;
  }
}

.paragraph-about {
  color: $color-white;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
}

.title-fourth {
  font-size: 16px;
  font-weight: 600;
  &_uppercase {
    text-transform: uppercase;
  }
}

.title-third {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
